.project {
  border: 1px solid #ff8c00;
  padding: 5px;
}

.project a {
  text-decoration: none;
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: auto;
}

/* .content {
  height: 50%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
} */

.content h3 {
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
.content p {
  text-align: center;
  color: #fff;
}

@media (max-width: 600px) {
  .content {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 600px) {
  .content {
    padding: 5px 0;
    display: block;
  }
}
