.project {
  padding: 20px;
}
.project p {
  margin-top: 10px;
}

.image {
  width: 80%;
  margin: 0 auto;
}

.image img {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .image {
    width: 100%;
  }
}
