.content {
  width: 80%;
  color: #fff;
  position: relative;
  border-left: 3px solid #fff;
  padding-bottom: 40px;
}

.content a {
  color: #28282b;
  position: relative;
}

.url_path {
  padding: 3px 24px;
  background-color: #ff8c00;
  color: #28282b;
}

.url_path img {
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  margin-right: 5px;
  align-self: center;
}

.time {
  position: fixed;
  right: 40px;
  bottom: 20px;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    border: none;
  }

  .time {
    display: none;
  }
}
