.content {
  width: 80%;
  color: #fff;
  position: relative;
}

.url_path {
  padding: 2px 15px;
  background-color: #ff8c00;
  color: #28282b;
}

.time {
  position: absolute;
  right: 40px;
  bottom: 120px;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }

  .time {
    display: none;
  }
}
