.images {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
}

.images img {
  width: 130px;
  height: 130px;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .images {
    padding: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .images img {
    width: 90px;
    height: 90px;
  }
}
