.navigation {
  display: none;
  width: 20%;
  border-top: 2px solid #fff;
  padding: 20px;
  height: 100vh;
  position: relative;
}

.navigation ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 2px 0 0 2px;
  position: fixed;
}

.navigation ul li {
  margin: 15px 0;
  font-size: 14px;
  display: inline-block;
  font-size: 1.5em;
  position: relative;
}

.navigation ul li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 1px #fff, 1px 1px 1px #ccc;
  padding: 2px 0px;
  border-radius: 5px;
}

.navigation ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

/* .navigation ul li a:not(.link_active):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

.navigation ul li > .link_active {
  background-color: #fff;
  color: #000;
  text-shadow: none;
  padding: 0 4px;
}

.navigation ul li > .link_active:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  height: 90%;
  width: 5px;
  background: #fff;
  border-radius: 0 6px 6px 0;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
  }
}
